<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar bg-body-tertiary fixed-top bg-primary" data-bs-theme="dark">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>
      <a class="nav-link text-bg-dark" href="/logout">Logout</a>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="showSection('home')">Halaman Depan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="showSection('akun')">Akun Petugas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="showSection('cetak')">Cetak Laporan</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top: 100px">
    <div class="row">
      <main role="main" class="  px-md-4">
        <div id="home" class="content-section">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Data Pengaduan Masyarakat</h1>
          </div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Input Pengaduan
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title fs-5" id="staticBackdropLabel">From Input Pengaduan</h3>
                </div>

                <form action="/input-pengaduan" method="POST">
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="namaPelapor" class="form-label">Nama Pelapor</label>
                      <input class="form-control form-control-sm" type="text" id="namaPelapor" name="namaPelapor" maxlength="50" pattern="[A-Za-z\s]+" required>
                    </div>
                    <div class="mb-3">
                      <label for="kategori" class="form-label">Kategori Pengaduan</label>
                      <select class="form-select form-select-sm" id="kategori" name="kategori" aria-label="Small select example" required>
                        <option value="" selected>--Pilihan Kategori--</option>
                        <option value="Visa">Visa</option>
                        <option value="Paspor">Paspor</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="namaPengaduan" class="form-label">Nama Pengaduan</label>
                      <input class="form-control form-control-sm" type="text" id="namaPengaduan" name="namaPengaduan" maxlength="25" pattern="[A-Za-z\s]+" required>
                    </div>
                    <div class="mb-3">
                      <label for="masalah" class="form-label">Masalah Yang Dialami</label>
                      <textarea class="form-control" id="masalah" name="masalah" rows="3" maxlength="500" pattern="[A-Za-z\s]+" required></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Kirim Pengaduan</button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>No Tiket</th>
                  <th>Waktu Kirim</th>
                  <th>Kategori</th>
                  <th>Judul</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% complaintsData.forEach((e, i) => { %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= e.noTiket %></td>
                    <td><%= e.waktuKirim %></td>
                    <td><%= e.kategori %></td>
                    <td><%= e.judul %></td>
                    <td><%= e.status %></td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm btn-modal" data-bs-toggle="modal" data-bs-target="#detailModal<%= i %>">Detail</button>

                      <!-- modal -->
                      <div class="modal fade" id="detailModal<%= i %>" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title fs-5" id="detailModalLabel">Detail Pengaduan</h2>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-md">
                                    <ul class="list-group">
                                      <li class="list-group-item"> <strong>Nomor Tiket : </strong><%= e.noTiket %></li>
                                      <li class="list-group-item"> <strong>Waktu Kirim : </strong><%= e.waktuKirim %></li>
                                      <li class="list-group-item"> <strong>Kategori : </strong><%= e.kategori %></li>
                                      <li class="list-group-item"> <strong>Judul : </strong><%= e.judul %></li>
                                      <li class="list-group-item"> <strong>Nama Pelapor : </strong><%= e.namaPelapor %></li>
                                      <li class="list-group-item"> <strong>Status : </strong><%= e.status %></li>
                                      <li class="list-group-item"> <strong>Masalah : </strong><%= e.masalah %></li>
                                      <li class="list-group-item"> <strong>Petugas : </strong><%= e.username %></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>

        <div id="akun" class="content-section" style="display: none;">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Akun Petugas <%= username %></h1>
          </div>
        </div>

        <div id="cetak" class="content-section" style="display: none;">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Cetak Laporan Pengaduan Masyarakat</h1>
          </div>
          <div class="d-flex justify-content-center">
          
            <a href="http://localhost:3000/generate-pdf" class="btn btn-success">Cetak laporan PDF</a>

          </div>
        </div>
      </main>
    </div>
  </div>

  <script>
    function showSection(sectionId) {
      // Hide all sections
      var sections = document.querySelectorAll('.content-section');
      sections.forEach(function (section) {
        section.style.display = 'none';
      });

      // Show the selected section
      var selectedSection = document.getElementById(sectionId);
      selectedSection.style.display = 'block';
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>
